DRIVER_PATH=chromedriver-win64\chromedriver.exe
EMAIL=
PASSWORD=

DOWNLOAD_DIR=downloads_pdf
REPORTS_DIR=reports_pdf
LOG_DIR=logs

WAIT_TIMEOUT=60
SHORT_WAIT=12
DOWNLOAD_TIMEOUT=45
PRINT_METHOD=auto
KEEP_BROWSER_OPEN_ON_ERROR=false

USE_DATABASE=false
STUB_TRACKING_NUMBERS=

TRACKING_NUMBERS_SQL="SELECT ... FROM ..."

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_CONNECT_TIMEOUT=
