DRIVER_PATH=chromedriver-win64\chromedriver.exe
EMAIL=
PASSWORD=

DOWNLOAD_DIR=downloads_pdf
REPORTS_DIR=reports_pdf
LOG_DIR=logs

WAIT_TIMEOUT=60
SHORT_WAIT=12
DOWNLOAD_TIMEOUT=45
PRINT_METHOD=auto
KEEP_BROWSER_OPEN_ON_ERROR=false

USE_DATABASE=false
STUB_TRACKING_NUMBERS=80106011593121

TRACKING_NUMBERS_SQL="SELECT barcode FROM public.postal_stat LIMIT 20"

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_CONNECT_TIMEOUT=10
